{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "cover 5% in KR", "ie 11"]
        },
        "useBuiltIns": "entry"
      }
    ]
  ]
}